body {
    background-color: #698269 !important;
}

.show {
    width: 55vh;
    background-color: #F1DBBF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 15px 40px 40px;
    border: 1px solid #ccc;
    margin: 50px auto 0;
    border-radius: 5px;
    filter: drop-shadow(10px 10px 10px black);
}


main {
    display: flex !important;
    flex-direction: column !important;
}

span {
    background-color: white;
}